.storageLeft {
    position: relative;
    background-color: white;
    border-radius: 0.625rem;
    border-bottom-right-radius: 12px;
    display: flex; 
    margin-top: -3.75rem;
    margin-left: 6rem;
    margin-right: 6.6875rem;
    margin-bottom: 6.25rem;
    padding: 1.3125rem 1.5625rem 1rem 1.5625rem;

    &:before {
        @media (min-width: 64em) {
            content: "";
            position: absolute;
            width: 0;
            height: 0;
            //background: #ffffff;
            box-sizing: border-box;
            bottom: -1.25rem;
            left: 7.55rem;
            border-top: 1.3125rem solid white;
            border-left: 1.3125rem solid transparent;
        }
        
    } 

    @media (min-width: 23.4375em) { //for width 375px and above
        margin-right: 7.125rem;
        margin-left: 6.25rem;
    }

    @media (min-width: 25.875em) {
        //for width 414px and above
        margin-right: 7.8125rem;
        margin-left: 7.6875rem;
    }

    @media (min-width: 41.6875em){
        margin-right: 9.6875rem;
        margin-left: 9.75rem;
    }

    @media (min-width: 46em) {
        margin-left: 11.625rem;
        margin-right: 12.125rem;
    }

    @media (min-width: 48em) {
        margin-left: 13.125rem;
        margin-right: 12.625rem;
    }

    @media (min-width: 50.75em) {
        margin-left: 13.75rem;
        margin-right: 14.75rem;
    }

    @media (min-width: 64em) {
        border-radius: 0.625rem 0.625rem 0 0.625rem;
        padding-top: 0.625rem;
        margin-top: 7.875rem;
        margin-right: 6.25rem;
        margin-bottom: 11.625rem;
        margin-left: -13.125rem;
    }

    

    &__number {
        font-size: 2.1875rem;
        font-weight: bold;
    }

    &__gbLeft {
        color: gray;
        font-size: 0.5625rem;
        font-weight: bold;
        margin-top: 1rem;
        margin-left: 0.75rem;
    }

 
}